@media screen and (min-width: 480px) {
  .coteiner {
    width: 426px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .coteiner {
    width: 766px;
  }
  .properties-list {
    width: calc((100%-24px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .coteiner {
    width: 1158px;
  }
  .section {
    padding: 120px 0;
  }

  .properties-list {
    width: calc((100%-72px) / 4);
  }
}
